* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

#site-wrapper {
  width: min(1440px, 100%);
  margin: 0 auto;

  box-shadow: 1px 1px 11px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 11px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 11px 1px rgba(0, 0, 0, 0.75);
}

.container {
  padding: 0 2rem;
}

section {
  margin-top: 2rem;
}

#header__nav {
  text-align: center;
  background-color: #e33f41;
  padding: 1rem 1rem;
}

#logo h3,
nav a {
  color: #f4f4f4;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  border-bottom: solid 2px #f4f4f4;
  margin-bottom: -2px;
}

img {
  display: block;
  width: 100%;
}

table {
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

table,
td {
  border: solid 1px black;
}

th {
  text-align: left;
  background-color: lightcoral;
}

#aside-skills {
  background-color: #e33f41;
  color: #f4f4f4;
  padding: 1rem;
  margin-top: 1rem;
}

#mdn-link {
  display: inline-block;
  margin-bottom: 2rem;
}

.section__contact .box2 {
  display: grid;
  place-content: center;
  margin: 2em 0;
}

form {
  background-color: lightgray;
}

legend {
  margin: 1em 0;
  font-weight: 900;
}

#contact-info label {
  display: block;
}

#contact-info input,
textarea {
  width: 100%;
  margin: 0.7em 0;
}

#contact-info input {
  height: 2em;
}

#form__checkbox-wrapper {
  display: flex;
  justify-content: space-around;
}

#form__radio-wrapper {
  display: grid;
  place-content: center;
}

#form__radio-wrapper div:not(:last-child) {
  margin-bottom: 1em;
}

#form__button-wrapper {
  display: flex;
  justify-content: center;
  padding: 1em 0;
}

button {
  cursor: pointer;
  background-color: #e33f41;
  color: #f4f4f4;
  padding: 10px;
  transition: transform 300ms ease;
}

button:hover {
  transform: scale(1.1);
}

footer {
  background-color: black;
  color: #f4f4f4;
  text-align: center;
}

footer.container {
  margin-top: 2rem;
  padding: 1em;
}

footer a {
  color: #f4f4f4;
  text-decoration: none;
  margin-left: 2em;
}

@media (min-width: 700px) {
  #html-recap-flex,
  #aside-recap {
    display: flex;
    justify-content: space-between;
  }

  table {
    width: 40%;
    margin: unset;
  }

  #aside-skills {
    width: 55%;
    margin-top: 0;
  }

  #form__radio-wrapper {
    display: flex;
    justify-content: space-around;
  }

  footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  footer.container {
    padding: 0 2em;
  }

  footer p {
    margin-right: auto;
  }

  footer a:hover {
    color: #e33f41;
  }
}

@media (min-width: 1200px) {
  .box1,
  .box2 {
    width: 50%;
  }

  .box2 {
    margin-left: 2rem;
  }

  h1 {
    margin-top: 0;
    font-size: 3rem;
  }

  #header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: unset;
  }

  #logo {
    margin-left: 1rem;
  }

  nav a {
    margin-right: 1rem;
  }

  #html-recap-flex,
  section,
  #aside-recap {
    display: flex;
    justify-content: space-between;
  }

  table {
    width: 40%;
  }

  #aside-skills {
    width: 55%;
    margin-top: 0;
  }
}
